$theme-base-color: #ff6c0b;
$input-btn-focus-width: 0;

/* body */
$body-bg: #2f323b;
$body-color: #ffffff;
$font-family-sans-serif: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
  sans-serif;
$font-size-base: 0.88rem;
$line-height-base: 1.4;

/* packages styles */
@import "./packages";

/* components styles */
@import "./components";

$theme-colors: (
  "primary": $theme-base-color,
);

/*
<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-clock fa-w-16 fa-lg"><path fill="currentColor" d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z" class=""></path></svg>
*/

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 10vh auto 0;
}
