<div class="container">

  <form class="form-signin" [formGroup]="baseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Question</label>
      <input type="text" formControlName="question" name="question" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter question">
      <small id="emailHelp" class="form-text text-muted">We'll always share your question with anyone else.</small>
    </div>
    <hr>

    <input type="text" formControlName="correct" class="form-control">

    <hr>

    <button type="button" (click)="onAddChoice()" class="btn btn-primary">Şık Ekle</button>

    <hr>

    <ng-container formArrayName="choices" *ngFor="let alias of choices.controls; let i = index;">
      <div class="input-group mb-3">
        <ng-container [formGroupName]="i">
          <input type="text" formControlName="answer" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="onRemoveChoice(i)" type="button">Sil</button>
          </div>
        </ng-container>
      </div>
    </ng-container>



    <button type="submit" class="btn btn-primary">Kaydet</button>
  </form>
</div>

<pre class="text-white">
  {{ baseForm.value | json }}
</pre>
