.cookie-law-wrapper {
    a {

        &:hover {
            svg {}
        }
    }

    .dismiss {
        svg {}
    }

    .copy {
        span {}

        a {
            &:active {}

            &:hover {}
        }
    }
}

@media (min-width: 600px) {
    .cookie-law-wrapper {
        a {

            &:hover {
                svg {}
            }
        }

        .dismiss {
            svg {}
        }

        .copy {
            span {}

            a {
                &:active {}

                &:hover {}
            }
        }
    }
}
