<form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <hr>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': isSubmit && f.email.errors }">
        <div *ngIf="isSubmit && f.email.errors" class="invalid-feedback order-last">
          <div *ngIf="f.email.errors.required">Eposta adresi gerekli</div>
          <div *ngIf="f.email.errors.email">Geçerli olmayan eposta adresi</div>
      </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputFirstName">First Name</label>
        <input type="text" formControlName="firstname" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp" [ngClass]="{ 'is-invalid': isSubmit && f.email.errors }">
        <div *ngIf="isSubmit && f.firstname.errors" class="invalid-feedback order-last">
          <div *ngIf="f.firstname.errors.required">İsim gerekli</div>
      </div>
    </div>
    <div class="form-group">
        <label for="exampleInputLastName">Last Name</label>
        <input type="text" formControlName="lastname" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp" [ngClass]="{ 'is-invalid': isSubmit && f.email.errors }">
        <div *ngIf="isSubmit && f.lastname.errors" class="invalid-feedback order-last">
          <div *ngIf="f.lastname.errors.required">Soyad gerekli</div>
      </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword" [ngClass]="{ 'is-invalid': isSubmit && f.email.errors }">
        <div *ngIf="isSubmit && f.password.errors" class="invalid-feedback order-last">
          <div *ngIf="f.password.errors.required">Şifre gerekli</div>
          <div *ngIf="f.password.errors.minLength">En az 6 karakter</div>
          <div *ngIf="f.password.errors.maxLength">En fazla 16 karakter</div>
      </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPasswordVerify">Password Verfiy</label>
        <input type="password" formControlName="passwordVerify" class="form-control" id="exampleInputPasswordVerify" [ngClass]="{ 'is-invalid': isSubmit && f.passwordVerify.errors }">
        <div *ngIf="isSubmit && f.passwordVerify.errors" class="invalid-feedback order-last">
          <div *ngIf="f.passwordVerify.errors.required">Şifre gerekli</div>
          <div *ngIf="f.passwordVerify.errors.mismatch">Şifreniz uyuşmuyor</div>
      </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="acceptTerms" class="custom-control-input" id="customSwitch" [ngClass]="{ 'is-invalid': isSubmit && f.acceptTerms.errors }">
            <label class="custom-control-label" for="customSwitch">Accept Policy</label>
            <div *ngIf="isSubmit && f.acceptTerms.errors" class="invalid-feedback order-last">
              <div *ngIf="f.acceptTerms.errors.required">Sözleşmeyi kabul etmelisiniz.</div>
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
    <p class="mt-1 text-muted"><small>By creating an account, you agree to the Terms of Service. For more information about privacy practices, see the Privacy Statement. We'll occasionally send you account-related emails.</small></p>

    <hr>

    <div class="mt-5">
        <a [routerLink]="['/']" class="btn btn-primary mr-1">Home</a>
        <a [routerLink]="['/', 'auth', 'login']" queryParamsHandling="preserve" class="btn btn-primary mr-1">Login</a>
    </div>

    <pre class="mt-5 text-white">{{ registerForm.value | json }}</pre>
    <pre class="mt-5 text-white">{{ f.passwordVerify.errors | json }}</pre>
</form>
