<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <hr>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" formControlName="email" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': isSubmit && f.email.errors }">
        <div *ngIf="isSubmit && f.email.errors" class="invalid-feedback order-last">
            <div *ngIf="f.email.errors.required">Eposta adresi gerekli</div>
            <div *ngIf="f.email.errors.email">Geçerli olmayan eposta adresi</div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <label class="float-right"><a [routerLink]="['/', 'auth', 'reset']" class="btn-link"><small>Forgot password?</small></a></label>
        <input type="password" formControlName="password" name="password" class="form-control" id="exampleInputPassword" [ngClass]="{ 'is-invalid': isSubmit && f.password.errors }">
        <div *ngIf="isSubmit && f.password.errors" class="invalid-feedback order-last">
            <div *ngIf="f.password.errors.required">Şifre gerekli</div>
            <div *ngIf="f.password.errors.minLength">En az 6 karakter</div>
            <div *ngIf="f.password.errors.maxLength">En fazla 16 karakter</div>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" formControlName="remember" class="custom-control-input" id="customSwitch">
            <label class="custom-control-label" for="customSwitch">Remember</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="buttonDisabled">Login</button>

    <div class="text-center">
        <a [routerLink]="['/', 'auth', 'register']" queryParamsHandling="preserve" class="btn btn-link">Register</a>
    </div>
    <hr>

    <div class="mt-5">
        <a [routerLink]="['/']" class="btn btn-primary">Home</a>
    </div>

    <pre class="mt-5">{{ getState | async | json }}</pre>
    <pre class="mt-5">{{ loginForm.value | json }}</pre>
</form>
