<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Hello, Angular Dev!</h1>
        <hr class="my-4">
        <ng-container *ngIf="getState$ | async as getState">
          <ng-container *ngIf="getState.isAuthenticated; else notAuthenticated">
            <a [routerLink]="['/', 'account']" class="btn btn-primary mr-1">Account</a>
            <a [routerLink]="['/', 'question', 'add']" class="btn btn-primary mr-1">Add Question</a>
            <a [routerLink]="['/', 'question', 'detail']" class="btn btn-primary mr-1">Detail Question</a>
            <button (click)="onLogout()" class="btn btn-primary">Logout</button>
          </ng-container>
        </ng-container>

        <ng-template #notAuthenticated>
          <a [routerLink]="['/', 'auth', 'login']" class="btn btn-primary mr-1">Login</a>
          <a [routerLink]="['/', 'auth', 'register']" class="btn btn-primary mr-1">Register</a>
        </ng-template>
        <a (click)="onLog()" class="btn btn-primary mr-1">Getlog</a>
    </div>
</div>
