<router-outlet></router-outlet>

<cookie-law></cookie-law>

<ng-container *ngIf="update">
    <div class="fixed-bottom">
        <ngb-alert type="info" [dismissible]="false" class="mb-0">
            Güncelleme var. <button class="btn btn-link" (click)="activateUpdate()"><strong>Yükle</strong></button>
        </ngb-alert>
    </div>
</ng-container>
