<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
    <hr>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="container mt-5">
    <div class="list-group">
        <a [routerLink]="['/', 'auth', 'login']" class="list-group-item list-group-item-action">Login</a>
        <a [routerLink]="['/', 'auth', 'register']" class="list-group-item list-group-item-action">Register</a>
    </div>
</div>
