<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
    <hr>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>

    <hr>

    <div class="mt-5">
        <a [routerLink]="['/']" class="btn btn-primary mr-1">Home</a>
        <a [routerLink]="['/', 'auth', 'login']" class="btn btn-primary mr-1">Login</a>
        <a [routerLink]="['/', 'auth', 'register']" class="btn btn-primary mr-1">Register</a>
    </div>
</form>
