<p>question-detail works!</p>

<ng-container *ngIf="question$ | async as question">
  <pre class="text-white">{{ question | json }}</pre>

  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">{{ question.question }}</h5>

      <hr>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">

        <ng-container *ngFor="let choice of question.choices">
          <div class="mb-3 col">
            <button type="button" class="btn btn-primary btn-block" (click)="onAnswer(choice)">{{ choice.answer }}</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


</ng-container>
